body {
    background-color: gray;
    text-align: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    color:darkcyan;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color:darkcyan;
}
.rules{
    vertical-align: top;
}
#rulesblurb{
    margin-left: 10px;
}
#rpsinfo{
    vertical-align: top;
}
